/* start rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: .3s;
    --man-padding-top: 100px;
    --man-padding-bottom-: 100px;
    --section-background: #ececec;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'cairo', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



/* end rules */
/* start main tile */
.main-title {
    margin: 0px auto 80px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    position: relative;
    font-size: 30px;
    transition: var(--main-transition);
    z-index: 1;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;

}

.main-title::before,
.main-title::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: linear-gradient(45deg, #2196f3, transparent);
    border-radius: 50%;

}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left .5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right .5s linear forwards;
}

.main-title h1 {
    margin: 0;
    font-size: 29px;
}

@keyframes left {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        border-radius: 5px;
        width: 100%;
        height: calc(100% + .5px);
        left: 0;
    }
}

@keyframes right {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        border-radius: 5px;
        width: 100%;
        height: calc(100% + .5px);
        right: 0;
    }
}

/* End main tile */
/* start header */
.header {
    background-color: white;
    box-shadow: 0px 0px 10px #ddd;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li:hover .mega-menu {
    top: calc(100% + 5px);
    z-index: 546789;
    opacity: 1;
}

.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0 30px;
    height: 72px;
    position: relative;
    transition: var(--main-transition);
    overflow: hidden;
}

@media (max-width: 767px) {
    .header .main-nav>li>a {
        height: 50px;
        padding: 15px;
        font-size: 14px;
    }
}


.header .main-nav>li>a::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: red;
    bottom: 0;
    left: -100%;
    transition: var(--main-transition);

}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #FAFAFA;
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

/* start megamenu */
.header .mega-menu {
    position: absolute;
    display: flex;
    z-index: -287937983;
    opacity: 0;
    width: 100%;
    left: 0;
    border-bottom: 3px solid var(--main-color);
    padding: 30px;
    background-color: white;
    top: calc(100% + 50px);
    gap: 40px;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 0px 32px;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .mega-menu .image img {
        display: none;
    }
}

.mega-menu .links {
    min-width: 240px;
    flex: 1;

}


.mega-menu .links li {
    position: relative;
    margin: 10px 0;
}

@media (max-width: 991px) {
    .mega-menu .links li {
        margin: 0;
    }
}

.mega-menu .links li:not(:last-child) {
    border-bottom: 2px solid red;
}

@media (max-width: 991px) {
    .mega-menu .links li:not(:last-of-type) {
        border-color: #c6c6c6;
    }

    .mega-menu .links:first-of-type li:last-child {
        border-bottom: 2px solid #7d7d7d;
    }
}

.mega-menu .links li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #e5e5e5;
    z-index: -1;
    transition: var(--main-transition);
}

.mega-menu .links li:hover::before {
    width: 100%;
}

.mega-menu .links li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}

.mega-menu .links li a i {
    margin-right: 10px;
}



/* end megamenu */
/* end header */
/* start landing */
.landing {
    position: relative;
}

.landing::before {
    content: '';
    position: absolute;
    background: #dedede;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-6deg);
    left: 0;
    top: -40px;
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

.landing .image img {
    width: 600px;
    max-width: 100%;
    position: relative;
    animation: up-and-down 5s linear infinite;
    -webkit-animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateY(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 5s linear infinite;
}

/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-10px);
    }
}

/* end animation */
/* end landing */
/* start article */
.article {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    position: relative;
}

.article .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.article .box {
    position: relative;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition), background-color var(--main-transition);
}

.article .box:hover {
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    transform: translateY(-10px);
}

.article .container .box img {
    max-width: 100%;
}

.article .box .content {
    padding: 20px;

}

.article .box .content h3 {
    margin: 0;
}

.article .box .content p {
    margin: 10px auto;
    color: #777;
    line-height: 1.5;
}

.article .box .info {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #a5a5a5;
    position: absolute;
    bottom: -100%;
    transition: var(--main-transition);
    width: 100%;
}

.article .box:hover .info {
    bottom: 0;
    z-index: 56789;
    background-color: white;
}

.article .box .info a {
    border-radius: 10px;
    padding: 5px;
    color: var(--main-color);
    font-weight: bold;
}

.article .box .info i {
    color: var(--main-color);
}

.article .box:hover .info i {
    animation: move-arrow .6s linear infinite;
}

@keyframes move-arrow {

    100% {
        transform: translatex(10px);
    }

}

/* end article */
/* start glarry */
.gallery {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    background: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgba(0 0 0 / 13%), 0px 2px 4px 0px rgba(0 0 0 / 12%);


}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.gallery .box .image:hover::before {
    animation: flash .7s;
    z-index: 5678;
}


@keyframes flash {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 120%;
        height: 120%;
    }
}


.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box:hover img {
    transform: rotate(5deg) scale(.9);
}

/* end glarry */
/* start features */
.features {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    background-color: white;
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .box {
    background-color: white;
    text-align: center;
    border: 1px solid #ccc;
}

.features .container .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .container .box .img-holder::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.features .container .box .img-holder::after {
    content: "";
    position: absolute;
    border-width: 0px 0px 119px 500px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    bottom: 0;
    right: 0;
    transition: var(--main-transition);
}

.features .container .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0px;
    border-color: transparent transparent white white;
}

.features .container .box .img-holder img {
    max-width: 100%;
}

.features .container .box h2 {
    font-size: 40px;
    width: fit-content;
    margin: auto;
    position: relative;
}

.features .container .box h2::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    left: 15px;
    bottom: -20px;

}

.features .container .box p {
    padding: 25px;
    margin: 30px 0;
    color: #777;
    font-size: 20px;
    line-height: 2;
}

.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 6px;
    transition: var(--main-transition);
}

.features .box:hover a {
    background-position: left bottom;
    color: white;

}

.features .quality .img-holder::before {
    background-color: #f4403682;
}

.features .quality h2::after {
    background-color: #f44036;

}

.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
    background-color: #009688;

}

.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}


.features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::after {
    background-color: #03a9f4;

}

.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

/* end features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    background-color: var(--section-background);
    position: relative;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.testimonials .box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    position: relative;
}



.testimonials .box img {
    position: absolute;
    right: -10px;
    top: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
}


.testimonials .container .box h3 {
    margin: 0 0px 10px;
}

.testimonials .container .box .title {
    color: #555;
    letter-spacing: -1.1px;
}

.testimonials .container .box .rate {
    margin: 10px 0;
    color: #ffc107;
}

.testimonials .container .box p {
    margin: 0;
    line-height: 1.5;
    color: #777;
    letter-spacing: 2px;
}

/* end Testimonials */
/* start team */
.team {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team .box {
    position: relative;
}

.team .box::before,
.team .box::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .box::before {
    width: calc(100% - 60px);
    z-index: -328;
}

.team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}

.team .box:hover::after {
    width: calc(100% - 60px)
}

.team .box .date {
    display: flex;
    padding-top: 60px;
    align-items: center;
}

.team .box .date img {
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}

.team .box:hover .date img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.team .box .socila {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60px;
    gap: 30px;
}

.team .box .socila i {
    transition: var(--main-transition);
    width: 0px;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    color: #777;

}

.team .box .socila i:hover {
    color: var(--main-color);
    transform: scale(1.5);
    background: #c5c5c5;
    border-radius: 8px;
    width: 31px;
}

.team .box .info {
    padding-left: 100px;
}

.team .box .info h3 {
    transition: var(--main-transition);
    margin-bottom: 0;
    color: var(--main-color);
}

.team .box:hover .info h3 {
    color: #777;
}

.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}



/* end team */
/* start services */
.services {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    background-color: var(--section-background);
    position: relative;

}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background: white;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    counter-increment: services;
    transition: var(--main-transition);
}

.services .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 15%);
}

.services .box::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--main-color);
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.services .box:hover::before {
    width: 100%;
}

.services .box i {
    color: #d5d5d5;
    margin: 37px auto 4px;
}

.services .box>h3 {
    margin: 17px auto 30px;
    color: var(--main-color);
}

.services .box .info {
    padding: 15px;
    text-align: right;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
}

.services .box .info::before {
    content: '0' counter(services);
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    width: 78px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    padding-right: 23px;
    color: white;
}

.services .box .info::after {
    content: "";
    width: 50px;
    height: 100%;
    background-color: #d5d5d5;
    position: absolute;
    left: 88px;
    top: 0;
    transform: skewX(-29deg);
    box-shadow: inset 37px 0px 0px 0px #c2c0c0, -1px 1px 0px 8px #e4e4e4;
}

.services .box .info a {
    color: var(--main-color);
}

/* End services */
/* start skills */
.our-skills {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills img {
    max-width: 300px;
}

@media (max-width: 767px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skills .skill h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-skills .skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
}

.our-skills .skills .the-progress {
    height: 30px;
    background: #eee;
    position: relative;
}

.our-skills .skills .the-progress span {
    width: 30%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: width 20s cubic-bezier(0.88, 0.38, 1, 1);
}


/* end skills */
/* start work-steps */
.work-steps {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    position: relative;
    background-color: var(--section-background);
}

@media (max-width: 991px) {
    .work-steps .container .box {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .container img {
    max-width: 40%;
}

.work-steps .box {
    background-color: #f6f5f5;
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 30px;
    z-index: 1;

}

.work-steps .info .box::before {
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
}

.work-steps .box:hover::before {
    width: 100%;
    height: 100%;
}

.work-steps .box img {
    max-width: 40%;
    margin-right: 40px;
}

@media (max-width: 991px) {
    .work-steps .box img {
        margin: 0 0 30px;
    }
}


.work-steps .box .text h3 {
    margin: 0;
    font-size: 22px;
}

.work-steps .box .text p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}

/* end work-steps */
/* start events */
.events {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    position: relative;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .events .container {
        flex-direction: column;
    }
}

.events img {
    max-width: 350px;
}

.events .info {
    flex: 1;
}

.events .time {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.events .time .unit {
    width: 75px;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    transition: var(--main-transition);
}

.events .time .unit span {
    display: block;
}

.events .time .unit span:first-child {
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
    padding: 15px;
}

.events .time .unit span:last-child {
    font-size: 13px;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);

}

.events .time .unit:hover,
.events .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .info .title {
    margin: 40px 0 0;
    text-align: center;
    font-size: 30px;
}

.events .info .description {
    text-align: center;
    color: #777;
    font-size: 19px;
    line-height: 1.7;
}

.events .container .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .container .subscribe form {
    width: 660px;
    margin: 30px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .events .container .subscribe form {
        max-width: 100%;
        flex-direction: column;
        padding: 20px;
        border-radius: 0;
    }
}

.events .container .subscribe form input[type="email"] {
    flex: 1;
    padding: 20px;
    border-radius: 50px;
    border: none;
    caret-color: var(--main-color);
}

.events .container .subscribe form input[type="email"]:focus {
    outline: 0;
}

.events .container .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.events .container .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}

@media (max-width: 767px) {
    .events .container .subscribe form input[type="email"] {
        border-radius: 0;
    }
}

.events .container .subscribe form input[type="submit"] {
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .events .container .subscribe form input[type="submit"] {
        border-radius: 0;
    }
}

/* end events */
/* start pricing */
.pricing {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    background-color: var(--section-background);
    position: relative;

}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.pricing .box {
    background: white;
    box-shadow: 0 0 6px 0;
    position: relative;
    z-index: 1;
    text-align: center;
}

.pricing .box::before,
.pricing .box::after {
    content: '';
    height: 0%;
    background-color: #00efff82;
    z-index: -1;
    width: 50%;
    position: absolute;
    transition: var(--main-transition);
}

.pricing .box::before {
    left: 0;
    top: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
    height: 100%;
}


.pricing .box::after {
    right: 0;
    bottom: 0;
}

.pricing .box.popular .label {
    padding: 10px 10px 38px 10px;
    background: var(--main-color-alt);
    writing-mode: vertical-lr;
    position: absolute;
    right: 20px;
    width: 40px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

@media (min-width: 1220px) {
    .pricing .box.popular {
        top: -20px
    }
}

.pricing .box.popular .label::before {
    content: "";
    position: absolute;
    border: 20px solid;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent white transparent;
    transition: border .8s;
}

.pricing .box.popular:hover .label::before {
    border-color: transparent transparent #7df7ff transparent;
}

.pricing .box .title {
    font-size: 21px;
    margin: 30px 0;
    font-weight: bold;
    letter-spacing: -1px;
}

.pricing .box img {
    max-width: 100%;
    width: 100px;
}

.pricing .box .price .amount {
    display: block;
    color: var(--main-color);
    font-size: 37px;
    font-weight: bold;
    margin: 24px auto 2px;
}

.pricing .box .price .time {
    margin-bottom: 20px;
    display: block;
    color: #777;
}

.pricing .box ul {
    text-align: left;
}

.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: bold;
    color: var(--main-color);
    margin-right: 10px;
}

.pricing .box a {
    margin: 20px auto;
    display: block;
    padding: 15px 18px;
    border: 1.5px solid var(--main-color);
    width: fit-content;
    color: var(--main-color);
    font-weight: bold;
    border-radius: 5px;
    transition: var(--main-transition);
}

.pricing .box a:hover {
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color-alt);
}

/* end pricing */
/* start videos */
.videos {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);


}


.videos .container .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #ddd;
}

@media (max-width: 767px) {
    .videos .container .holder {
        flex-direction: column-reverse;
    }
}

.videos .container .holder .list {
    min-width: 300px;
    background: white;
}

.videos .container .holder .list .name {
    background: #f4f4f4;
    font-weight: bold;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
}

.videos .container .holder .list ul li {
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .container .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.videos .container .holder .list ul li span {
    color: #777;
    margin-top: 10px;
    display: block;
}

.videos .container .holder .preview {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e2e2e2;
}

.videos .container .holder .preview img {
    max-width: 100%;
}

.videos .container .holder .preview .info {
    background: white;
    padding: 20px;
    margin-top: 10px;
}

/* end videos */
/* start stats */
.stats {
    padding-top: var(--man-padding-top);
    padding-bottom: var(--man-padding-bottom-);
    background-image: linear-gradient(0deg, rgba(255 255 255 / 78%), rgb(255 255 255 / 78%)), url(../photo/peakpx.jpg);
}

.stats h2 {
    font-size: 40px;
    margin: 0 auto 50px;
    font-weight: bold;
    width: fit-content;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .container .box {
    text-align: center;
    padding: 30px 15px;
    background-color: white;
    position: relative;
    opacity: .8;
    transition: var(--main-transition);
}

.stats .container .box:hover {
    opacity: 100%;
}

.stats .container .box::before,
.stats .container .box::after {
    content: "";
    position: absolute;
    background: red;
    width: 2px;
    height: 0;
    transition: 1s;
}

.stats .container .box::before {
    top: 0;
    left: 0;
}

.stats .container .box::after {
    bottom: 0;
    right: 0;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}


.stats .container .box i {
    display: block;
    margin: 0 auto;
}

.stats .container .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 10px auto 5px;
}

.stats .container .box .text {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

/* end stats */
/* start Discount */
.discount {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.discount .image {
    background-image: url('../photo/vbdsnm.jpg');
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
    -webkit-animation: change-background 20s linear infinite;
}

@keyframes change-background {

    0%,
    100% {
        background-image: url(../photo/peakpx\ \(11\).jpg);
    }

    30% {
        background-image: url(../photo/day6.jpg);
    }

    80% {
        background-image: url(../photo/day6.jpg);
    }

    50% {
        background-image: url(../photo/peakpx\ \(9\).jpg);
    }
}

@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}

.discount .image::before {
    content: "";
    background-color: #0006b582;
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
}

.discount .content {
    padding: 0 20px;
    text-align: center;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .image .content p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
}

.discount .image .content img {
    max-width: 100%;
    width: 300px;
}

.discount .form {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

.discount .form .content .input {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}

.discount .form .content textarea {
    resize: none;
    height: 200px;
}

.discount .form .content .input:focus {
    outline: 0;
}

.discount .form .content input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: var(--main-transition);
}

.discount .form .content input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* start discount */
/* start footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .box h2 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box ul.socila {
    display: flex;
}

@media (max-width: 767px) {
    .footer .box ul.socila {
        justify-content: center;
    }
}

.footer .box .socila li {
    margin-right: 10px;
}

.footer .box .socila li a {
    font-size: 20px;
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: var(--main-transition);
}

.footer .box .socila li:hover .facebook {
    background-color: #1877f2;
}

.footer .box .socila li:hover .twitter {
    background-color: #1da1f2;
}

.footer .box .socila li:hover .youtube {
    background-color: red;
}

.footer .box p {
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    color: var(--main-color);
    font-weight: 900;
    margin-right: 10px;
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

.footer .box .line i {
    margin-right: 10px;
}

.footer .box .line .info {
    line-height: 22px;
    flex: 1;
    text-align: start;
}

.footer .box.footer-gallery img {
    width: 100px;
    padding: 3px;
    background: white;
    margin: 2px;
}

.footer .copyright {
    border-top: 1px solid #444;
    text-align: center;
    padding: 25px 0;
    margin: 50px 0 0;
    color: white;
}

/* end footer */
/* start steps */
.steps {
    position: relative;
}

.steps::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(210deg, white 25%, transparent 25%), linear-gradient(390deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    border-color: red;
    box-shadow: 0px 0px 14px 6px white, 0px 5px 6px 0px black;
}

/* end steps */